@import "../../utils/styles/mediaQueries";

.headerRow {
  padding: 0 10px;
  @include tabletAndAbove {
    padding: 0 20px;
  }
}

.link {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
}

.title {
  padding-left: 10px;
  padding-right: 48px;
}
