.headerRow {
  padding: 0 48px;
}

.link {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
}

.icon {
  font-size: 40px;
}

.title {
  padding-left: 10px;
  padding-right: 48px;
}

