@import "../../utils/styles/mediaQueries";

.card {
  margin-top: 20px;
  width: 100%;
}

.title {
  height: 70px;
  background-color: rgba(0,0,0,0.2);
  @include tabletAndAbove {
    height: 175px;
  }
}
.titleText {
  padding-right: 5px; // so text-shadow not cut-off
  color: white;
  font-size: 34px;
  text-shadow: 1px 1px 1px black;
}

.overviewTitle {
  margin: 0 0 5px;
}

.supportingText {
  box-sizing: border-box;
  width: 100%;
}

.detailsList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.strong {
  font-weight: bold;
}
